
.box {
    background-color: #ffffff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
    margin: 0;
  }
  
  
[data-theme="dark"] .box{
    background: var(--card-border-light);
} 
[data-theme="dark"] .boxHeader{
    color: var(--title-color-dark);
}
[data-theme ="dark"] .professor{
   box-shadow: none;
   background: var(--card-bg-dark);   
}

.professoreslist {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    color: black;    
}

.professor {
    padding: 15px;
    border-radius: 8px;
    border: 0.1px solid var(--card-bg-dark);
    width: 100%;
    border: 1px solid #4746463b;
    
}
.boxHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--title-color-light);
}

.youtubelink {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

.youtube-link:hover {
    text-decoration: underline;
}

.youtube-link svg {
    margin-right: 8px;
}
p{

    color: #000000;
}