
.box {
    background: var(--background-gradient-light);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
    margin: 0;
    min-height: calc(100dvh - 6rem);
  }
  
.boxHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.teacherList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    color: var(--text-color-light);
}
.teacher {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--card-border-light);
    width: 100%;
    background: var(--card-bg-light);
    box-shadow: 0 4px 20px var(--card-shadow-light);
    
}

.youtubelink {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

.youtube-link:hover {
    text-decoration: underline;
}

.youtube-link svg {
    margin-right: 8px;
}
h1, h4 {
    margin: 0;
    color: var(--text-color-light);
}