:root {
  --background-gradient-light: linear-gradient(to bottom, #f8f9fa, #ffffff);
  --title-color-light: #1a237e;
  --card-bg-light: white;
  --card-border-light: rgba(0, 0, 0, 0.05);
  --text-color-light: #1a237e;
  --card-shadow-light: rgba(0, 0, 0, 0.08);
  --gradient-light: linear-gradient(to right, #1a237e, #3949ab);
  --hover-color-light: #3949ab;
}

:root[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #4dabf7;
  --secondary-color: #adb5bd;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

*{
    font-family:'Nunito';
    list-style: none;
    text-decoration: none;
}